---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<h2>Representative Publications</h2>
  <p><strong><span style="color: red;">[ESI Hot Paper]</span>[ESI Highly Cited Paper]</strong>  <a href="http://www.yitinglin.top/publication/Image%20privacy%20protection%20scheme%20based%20on%20high-quality%20reconstruction%20DCT%20compression%20and%20nonlinear%20dynamics">Lin Y, Xie Z, Chen T, Cheng X, Wen H. Image privacy protection scheme based on high-quality reconstruction DCT compression and nonlinear dynamics. Expert Systems with Applications. 2024;257:124891.</a></p>
  <p><strong>[ESI Highly Cited Paper]</strong>  <a href="https://Dr-YitingLin.github.io/publication/Cryptanalysis%20of%20an%20image%20encryption%20algorithm%20using%20quantum%20chaotic%20map%20and%20DNA%20coding">Wen H, Lin Y. Cryptanalysis of an image encryption algorithm using quantum chaotic map and DNA coding. Expert Systems with Applications. 2024;237:121514.</a></p>   
  <p><strong>[ESI Highly Cited Paper]</strong>  <a href="https://Dr-YitingLin.github.io/publication/Cryptanalysis%20of%20an%20image%20encryption%20scheme%20using%20variant%20Hill%20cipher%20and%20chaos">Wen H, Lin Y, Yang L, Chen R. Cryptanalysis of an image encryption scheme using variant Hill cipher and chaos. Expert Systems with Applications. 2024;250:123748.</a></p>   
  <p><strong>[ESI Highly Cited Paper]</strong>  <a href="https://Dr-YitingLin.github.io/publication/Cryptanalyzing%20a%20bit-level%20image%20encryption%20algorithm%20based%20on%20chaotic%20maps">Wen H, Lin Y, Feng Z. Cryptanalyzing a bit-level image encryption algorithm based on chaotic maps. Engineering Science and Technology, an International Journal. 2024;51:101634.</a></p> 
  <p><strong>[ESI Highly Cited Paper]</strong>  <a href="https://Dr-YitingLin.github.io/publication/Secure%20image%20encryption%20algorithm%20using%20chaos-based%20block%20permutation%20and%20weighted%20bit%20planes%20chain%20diffusion">Wen H, Lin Y, Kang S, Zhang X, Zou K. Secure image encryption algorithm using chaos-based block permutation and weighted bit planes chain diffusion. iScience. 2024;27(1):108610.</a></p> 
  <p><strong>[ESI Highly Cited Paper]</strong>  <a href="https://Dr-YitingLin.github.io/publication/Cryptanalyzing%20an%20image%20cipher%20using%20multiple%20chaos%20and%20DNA%20operations">Wen H, Lin Y. Cryptanalyzing an image cipher using multiple chaos and DNA operations. Journal of King Saud University - Computer and Information Sciences. 2023;35(7):101612.</a></p> 
  <p><strong>[ESI Highly Cited Paper]</strong>  <a href="https://Dr-YitingLin.github.io/publication/Chaos-based%20block%20permutation%20and%20dynamic%20sequence%20multiplexing%20for%20video%20encryption">Wen H, Lin Y, Xie Z, Liu T. Chaos-based block permutation and dynamic sequence multiplexing for video encryption. Sci Rep. 2023;13(1). (Corresponding author)</a></p>
  <p><strong>[ESI Highly Cited Paper]</strong>  <a href="https://Dr-YitingLin.github.io/publication/Dynamic%20RNA%20Coding%20Color%20Image%20Cipher%20Based%20on%20Chain%20Feedback%20Structure">Wen H, Kang S, Wu Z, Lin Y, Huang Y. Dynamic RNA Coding Color Image Cipher Based on Chain Feedback Structure. Mathematics. 2023;11(14):3133. (Corresponding author)</a></p> 
  <p><a href="https://orcid.org/0000-0003-4159-3132">[Read More]</a>